@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    text-rendering:optimizeLegibility;
    font-weight:normal;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url('/../font/NotoSansKR-Regular-Hestia.woff') format('woff');
}

@font-face {
    font-family:'Noto Sans Light';
    font-style:normal;
    text-rendering:optimizeLegibility;
    font-weight:normal;
    src: local('Noto Sans Light'), local('NotoSans-Light'),
    url('/../font/NotoSansKR-Light-Hestia.woff') format('woff');
}

@font-face {
    font-family:'Noto Sans DemiLight';
    font-style:normal;
    text-rendering:optimizeLegibility;
    font-weight:normal;
    src: local('Noto Sans DemiLight'), local('NotoSans-DemiLight'),
    url('/../font/NotoSansKR-DemiLight-Hestia.woff') format('woff');
}

@font-face {
    font-family:'Noto Sans Medium';
    font-style:normal;
    text-rendering:optimizeLegibility;
    font-weight:normal;
    src: local('Noto Sans Medium'), local('NotoSans-Medium'),
    url('/../font/NotoSansKR-Medium-Hestia.woff') format('woff');
}

@font-face {
    font-family:'Noto Sans Bold';
    font-style:normal;
    text-rendering:optimizeLegibility;
    font-weight:normal;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url('/../font/NotoSansKR-Bold-Hestia.woff') format('woff');
}

@font-face {
    font-family:'Noto Sans Black';
    font-style:normal;
    text-rendering:optimizeLegibility;
    font-weight:normal;
    src: local('Noto Sans Black'), local('NotoSans-Black'),
    url('/../font/NotoSansKR-Black-Hestia.woff') format('woff');
}