@charset "utf-8";

.join_title{margin-top:30px;line-height:50px;font-size:32px}
.sub_description{position:relative;line-height:23px;color:#8c8c8c;font-size:16px}
.sub_description span{position:absolute;right:0;bottom:0;line-height:20px;font-size:14px}

.info_section{margin-top:10px;padding-bottom:100px;border-top:2px solid #242424;}
.info_section h4{margin-top:20px;line-height:27px;font-size:18px;font-weight:500;letter-spacing:-0.09px}

.join_g{margin-top:5px;padding-top:11px;border-top:1px solid #242424;}
.join_g li{margin-top:10px;font-size:0}
.join_g li:first-child{margin-top:0}
.join_g li:after{content:'';display:block;clear:both}
.join_g strong{float:left;width:100px;line-height:40px;color:#8c8c8c;font-size:14px}
.join_g input[type="text"]{float:left;width:365px;padding:9px 10px 10px;border:1px solid #ddd;border-radius:2px;line-height:19px;font-size:14px;}
.join_g textarea{float:left;width:1100px;height:160px;padding:9px 10px;border-color:#ddd;border-radius:2px;color:#242424;box-sizing:border-box;resize:none}
.join_g input[type="checkbox"] + label{margin-right:25px;font-size:13px}
.join_g input[type="checkbox"] + label:before{width:16px;height:16px;margin-right:5px}
.join_g input[type="checkbox"]:checked + label{color:#4e79ff}

input[type="text"].input_type1{width:1100px}
strong.strong_type1{line-height:160px}
strong.strong_type2{line-height:21px}

.join_g.info_subject{margin-top:20px;padding-top:0;border:0}
.join_g.info_subject input[type="checkbox"] + label{margin-right:23px;font-size:13px;letter-spacing:-0.5px}

.input_file{position:relative;float:left;width:365px;height:40px;border:1px solid #ddd;box-sizing:border-box}
.input_file .file_nm{width:260px;padding:5px 10px 6px;border:0;line-height:28px;color:#9a9a9a;font-size:14px;background:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.input_file label{display:inline-block;position:absolute;right:4px;top:4px;padding:5px 15px 6px;border-radius:2px;color:#fff;font-size:13px;line-height:19px;background-color:#4e79ff;vertical-align:top;cursor:pointer;}
.input_file input[type="file"]{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0;}

.join_personal{margin-top:30px}
.join_personal input[type="checkbox"] + label{line-height:24px;font-size:16px;}
.join_personal input[type="checkbox"] + label:before{margin-right:10px;margin-top:0}
.join_personal textarea{width:1200px;height:160px;margin-top:9px;padding:9px 10px;border-color:#ddd;border-radius:2px;color:#9a9a9a;font-size:13px;font-weight:500;background-color:#f9f9f9;letter-spacing:-0.07px;box-sizing:border-box;resize:none}

.btn_join{margin-top:40px;text-align:center}
.btn_join button{margin-top:0;width:308px;height:54px;line-height:54px;font-size:16px;font-weight:500}