body {
  background-color: #f9f9f9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.option-wrap {
  height: 914px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  margin-top: 10px;
  padding: 0 0 69px 230px;
}

.option-wrap .option-title {
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.76;
  letter-spacing: normal;
  text-align: left;
  color: #3d3ddf;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 2px solid #3d3ddf;
  margin-left: 34px;
  margin-top: 43px;
}

.option-wrap .read {
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  text-align: left;
  color: #3d3ddf;
  margin-left: 34px;
  margin-top: 14px;
  width: 40px;
  display: inline;
  float: left;
}

.option-wrap .required-text {
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: #ff0000;
  float: left;
  margin-top: 14px;
}

.option-wrap .more-important {
  display: inline-block;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #ff0000;
  margin-top: 12px;
  margin-bottom: 16px;
}

.option-wrap .guide-btn {
  width: 229px;
  height: 41px;
  background-color: #641fcb;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  float: right;
  margin-right: 36px;
  cursor: pointer;
}

.option-wrap .btn-style {
  color: #ffff00;
}

.option-wrap .mt40 tr td .bar::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #d3d3d3;
  margin: 0px 6px;
}

.option-wrap .option-table {
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
  padding-top: 16px;
}

.option-wrap .option-table th {
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  text-align: center;
}

.option-wrap .option-table td {
  border: 1px solid #e5e5e5;
  text-align: center;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.92;
  letter-spacing: normal;
  color: #000000;
  background-color: #ffffff;
}

.option-wrap .option-table .option-input {
  background-color: #f9f6e8;
}

.option-wrap .t-input {
  width: 160px;
  height: 30px;
  background-color: #ffffff;
  border: none;
  text-align: right;
}

.option-wrap .mall-table {
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
  text-align: center;
}

.option-wrap .mall-table td, .option-wrap th {
  border: 1px solid #e5e5e5;
}

.option-wrap .mall-table th {
  height: 40px;
  border: solid 1px #d1d1d1;
  background-color: #f0f0f0;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.92;
  letter-spacing: normal;
  text-align: center;
  color: #6c6c6c;
  font-family: 'Noto Sans KR', sans-serif;
}

.option-wrap .lotte-icon, .option-wrap .coupang-icon, .option-wrap .ebay-icon {
  height: 92px;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 92px;
  letter-spacing: normal;
  color: #2e2e2e;
}

.option-wrap .lotte-icon img {
  width: 96px;
  height: 27px;
  vertical-align: middle;
  margin-right: 8px;
}

.option-wrap .coupang-icon img {
  width: 105px;
  height: 29px;
  vertical-align: middle;
  margin-right: 8px;
}

.option-wrap .ebay-icon img {
  width: 72px;
  height: 29px;
  vertical-align: middle;
  margin-right: 8px;
}

.option-wrap .option-select {
  width: 220px;
  height: 30px;
  border: solid 1px #c3c3c3;
  background-color: #fafafa;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  text-align: center;
  color: #909090;
  padding-left: 4px;
}

.option-wrap select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../img/btn_dropdown.svg) no-repeat 98% 50%;
}

.option-wrap .option-select select::-ms-expand {
  /* for IE 11 */
  display: none;
}

.option-wrap .option-td {

}

.option-wrap input::-webkit-input-placeholder {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.92;
  letter-spacing: normal;
  text-align: right;
  color: #000000;
  padding-right: 10px;
}

.option-wrap input:-ms-input-placeholder {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.92;
  letter-spacing: normal;
  text-align: right;
  color: #000000;
  padding-right: 10px;
}

.option-wrap input::-ms-input-placeholder {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.92;
  letter-spacing: normal;
  text-align: right;
  color: #000000;
  padding-right: 10px;
}

.option-wrap .option-td input {
  width: 95%;
  height: 100%;
  border: none;
  text-align: right;
}

.option-wrap .option-td input::-webkit-input-placeholder {color: #999999;}

.option-wrap .option-td input::-webkit-input-placeholder {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.92;
  letter-spacing: normal;
  text-align: right;
  color: #999999;
  padding-right: 10px;
}

.option-wrap .option-td input:-ms-input-placeholder {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.92;
  letter-spacing: normal;
  text-align: right;
  color: #000000;
  padding-right: 10px;
}

.option-wrap .option-td input::-ms-input-placeholder {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.92;
  letter-spacing: normal;
  text-align: right;
  color: #000000;
  padding-right: 10px;
}

/*option table end*/
.add-btn {
  width: 167px;
  height: 41px;
  background-color: #641fcb;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 12px 0 24px 36px;
  cursor: pointer;
}

.newadd-btn {
  width: 189px;
  height: 41px;
  background-color: #641fcb;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  float: right;
  margin: 12px 36px 0 0;
  cursor: pointer;
}

.search-category {
  width: 380px;
  height: 38px;
  border: solid 1px #c3c3c3;
  background-color: #fafafa;
  margin-left: 35px;
  margin-bottom: 16px;
}

.category-popup {
  margin-left: 20px;
  margin-bottom: 0;
}

.category-area {
  line-height: 38px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #909090;
  margin-left: 8px;
}

.guide-wrap {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: none;
}

.guide-wrap .guide-popup {
  z-index: 10000;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 10%;
  margin: 10% auto;
  width: 1224px;
  height: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: auto;
}

.guide-wrap .guide-popup .guide-title {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.81;
  letter-spacing: -0.48px;
  color: #ffffff;
  width: 100%;
  height: 56px;
  background-color: #2c9eff;
  float: left;
  display: inline;
  padding-left: 20px;
}

.guide-wrap .guide-popup .guide-close {
  position: absolute;
  right: 20px;
  width: 20px;
  top: 16px;
  height: 20px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.guide-wrap .guide-popup .guide-close img {
  width: 100%;
}

.guide-wrap .guide-popup .step {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.81;
  letter-spacing: -0.48px;
  text-align: left;
  color: #2e2e2e;
  margin-left: 20px;
}

.guide-wrap .guide-popup .option-img {
  width: 1184px;
  height: 352px;
  border: solid 1px #c3c3c3;
  background-color: #ffffff;
  margin: 0 auto;
  clear: both;
}

.guide-wrap .guide-popup .option-img .btn-drop {
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  margin-top: 161px;
  margin-left: 92px;
}

.guide-wrap .guide-popup .option-img .btn-drop img {
  width: 100%;
}

.guide-wrap .guide-popup .option-img .guide-screen {
  width: 698px;
  height: 312px;
  margin-top: 20px;
  margin-left: 93px;
}

.guide-wrap .guide-popup .add-btnwrap {
  float: left;
}

.guide-wrap .guide-popup .add-btnwrap:first-child {
  margin-top: 129px;
}

.guide-wrap .guide-popup .add-btnwrap button {
  margin-left: 40px;
  margin-bottom: 12px !important;
  margin-top: 0px;
}

.guide-wrap .guide-popup .table-img {
  width: 1183px;
  height: 233px;
  display: block;
  margin: 0 auto;
  margin-left: 20px;
}

.guide-wrap .guide-popup .step2-text {
  width: 336px;
  height: 48px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.48px;
  text-align: center;
  color: #ff3939;
  margin-left: 593px;
  margin-top: 8px;
}

.guide-wrap .guide-popup .popup-close {
  width: 134px;
  height: 44px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #2c9eff;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
}
/*# sourceMappingURL=option.css.map */

.option_delete_btn {
  width: 22px;
  height: 22px;
  border: solid 1px #e5e5e5;
  background-color: white;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #444444;
  cursor: pointer;
  vertical-align: middle;
}