.cell_total em{text-decoration:underline}
.tbl_ask .cont_ask{padding:8px 16px 16px 16px;text-align:left!important;background-color:#f9f9f9}
.cont_ask .txt_info{padding-bottom:8px;padding-right:0;text-align:right}
.ask_g{padding:12px 10px;border:solid 1px #d1d1d1;background-color:#fafafa}
.f_gray{color:#909090}
.tbl_ask .txt_g{padding:0;font-size:14px;letter-spacing:-1.08px}
.txt_g .f_gray{display:block;font-size:13px;font-weight:bold}
.tbl_ask .btn_detail{margin-top:6px;background-color:#2c9eff;color:#fff}