.cell_total em{text-decoration:underline}

.f_red + .wrap_button{margin-top:16px;text-align:left}
.excel_form li:nth-child(2){float:left;padding-right:80px}
.excel_form li:nth-child(3){padding-left:116px}
.list_warning{padding:16px;margin-top:0;background-color:#f4faff}
.order_excel .btn_ecxel{width:auto;padding:0 12px 0 10px}
.tbl_excel .unit_select{width:100%;height:30px;line-height:30px;background-color:#fff}
.tbl_excel select{line-height:30px}
.tbl_comm tfoot td{padding:0;}
.box_total{margin: 0 16px 0 3px;text-align:left;line-height:38px}
.box_total button{vertical-align:middle}
.box_total span{float:right}
.box_total span strong{font-size:20px}
.cell_total{margin-top:24px}
.order_excel .box_tbl{position:relative}
.box_excel .tool_wrap{top:-46px;right:0}
.order_excel .tool_wrap .unit_select{float:none}
.order_excel .tbl_comm th{padding:3px 0}
.order_excel .tbl_comm td:nth-child(12){letter-spacing:-1.3px}
.icon_sold{display:block;width:27px;height:15px;border-radius:2px;background-color:#ea2b2b;font-size:10px;font-weight:bold;line-height:15px;color:#fff}
.box_total strong{font-size:20px;font-weight:normal}
.box_total strong:last-child{color:#ea2b2b}