@charset "utf-8";

/********** reset **********/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle}
button{border:0 none;background-color:transparent;cursor:pointer}
body{-webkit-text-size-adjust:none} /* 뷰표트 변환시 폰트크기 자동확대 방지 */
table{border-collapse:collapse;border-spacing:0}
body,th,td,input,select,textarea,button{font-size:14px;line-height:1.5;font-family:'AppleSDGothicNeo','Malgun Gothic','맑은 고딕',sans-serif;color:#2e2e2e}
input[type='text'],input[type='password'],input[type='submit'],input[type='search']{-webkit-appearance:none;border-radius:0}
input:checked[type='checkbox']{background-color:#666;-webkit-appearance:checkbox}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file']{-webkit-appearance:button;border-radius:0}
button{outline:none}
input[type='search']::-webkit-search-cancel-button{-webkit-appearance:none}
a{color:#333;text-decoration:none}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
em,strong{font-weight:normal;font-style:normal}
small{font-size:initial}

.ir_pm{display:block;overflow:hidden;font-size:0px;line-height:0;text-indent:-9999px} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir_wa{display:block;overflow:hidden;position:relative;z-index:-10;width:100%;height:100%} /* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.screen_hide{font-size:0;line-height:0;visibility:hidden} /* 테이블내 caption에 사용 */
.cl_b{width:0;height:0;font-size:0;line-height:0;clear:both}
.show{display:block !important}
.hide{display:none !important}
.tbl{width:100%;border:0} /* 테이블 초기화 */
.clear_g{display:block;overflow:visible;width:auto;clear:both;*zoom:1}
.clear_g:after{display:block;visibility:hidden;height:0;font-size:0;clear:both;content:''}

.skip_btn{position:absolute; top:-81px; z-index:990; width:100%; height:81px; background-color:#2f3236; text-align:center}
.skip_navigation a{line-height:81px; color:white; font-size:17px}
.skip_navigation a:active,.skip_navigation a:focus{top:0}

/* icon */
.icon_g{display:inline-block;overflow:hidden;font-size:1px;line-height:1px;text-indent:-9999px;background-repeat:no-repeat;vertical-align:top;color:transparent}
.icon_search{width:28px;height:28px;background-image:url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28'%3e%3cg fill='none' fill-rule='evenodd'%3e%3ccircle cx='12.065' cy='12.065' r='9.065' stroke='%23242424' stroke-width='2'/%3e%3cpath fill='%23242424' d='M18.66 17.56l.319-.32a.775.775 0 011.095 0l5.976 5.976a.775.775 0 010 1.095l-.32.32a.774.774 0 01-1.094 0l-5.976-5.977a.772.772 0 010-1.094z'/%3e%3c/g%3e%3c/svg%3e");background-size:28px 28px}

/* common */
.txt_warn{margin-top:4px;font-size:14px;line-height:normal;letter-spacing:-0.02px;color:#ea2b2b}
.emph_g{color:#4e79ff}
.img_block{display:block;width:100%}
.link_more{position:absolute;top:0;left:50%;margin-left:525px;font-size:16px;line-height:24px;letter-spacing:-0.05px}
.link_more:after{content:'';display:inline-block;width:16px;height:16px;margin:5px 0 0 4px;background:url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath fill='%23242424' d='M6.257 2.38a.501.501 0 00-.016.64l.062.066L11.9 8l-5.597 4.914a.502.502 0 00-.099.633l.053.073c.162.184.43.22.633.099l.073-.053 6.025-5.29a.499.499 0 00.06-.687l-.06-.064-6.025-5.29a.502.502 0 00-.706.047z'/%3e%3c/svg%3e") 0 0 no-repeat;background-size:100% 100%;vertical-align:top}
.link_g{display:block}
.lab_count{display:inline-block;height:18px;padding:0 8px;border-radius:18px;font-size:10px;line-height:18px;background-color:#4e79ff;text-align:center;color:#fff}
.wrap_button{overflow:visible;position:relative;clear:both;*zoom:1}
.wrap_button:after{display:block;visibility:hidden;height:0;font-size:0;clear:both;content:''}
.wrap_button button{overflow:visible;position:relative;float:left;width:120px;height:40px;font-size:16px;line-height:40px;background-color:#9a9a9a;text-align:center;color:#fff}
.wrap_button button.active{background-color:#4e79ff}
.wrap_button button + button{margin-left:10px}
.wrap_button .btn_sort{width:50%;height:54px;margin:0;line-height:54px;}
.wrap_button .btn_sort .lab_count{position:absolute;left:50%;top:0;transform:translate(-50%, -50%)}
.wrap_button .btn_sort.active .lab_count{background-color:#ea2b2b}

/* layout */
body{background-color:#f1f2f7}
#sellerhubHead{position:relative;height:60px;background-color:#4e79ff}
#logo{position:absolute;top:16px;left:50%;margin-left:-543px;width:121px}
#logo a{display:block}
#sellerhubContent{overflow:visible;position:relative;width:1086px;margin:0 auto;padding-top:20px;clear:both;*zoom:1}
#sellerhubContent:after{display:block;visibility:hidden;height:0;font-size:0;clear:both;content:''}

/* inform center */
.title_inform{position:absolute;top:-34px;right:0;height:19px;padding:9px 20px 6px;border-top-left-radius:10px;border-top-right-radius:10px;font-weight:500;font-size:16px;line-height:19px;background-color:#f1f2f7;letter-spacing:-1px}
.title_inform::before{content:'';display:inline-block;width:20px;height:20px;margin-right:5px;vertical-align:top;background:url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3e%3cpath d='M12.332 16.252l-5.279.115c.122.513.391.97.76 1.323a2.697 2.697 0 004.519-1.438zM9.68 2.5c-.395 0-.752.163-1.004.452-.259.298-.405.72-.76 1.712C6.597 5.04 5.6 5.86 4.92 7.12c-.735 1.357-1.107 3.202-1.143 5.527l-1.234 1.911.47 1.645 13.817-.6-.081-1.325-1.171-1.625c.041-2.392-.29-4.276-1.017-5.67C13.88 5.68 12.843 4.825 11.1 3.92c0-.392-.159-.747-.416-1.004S10.072 2.5 9.68 2.5z' fill='none' stroke='%234E79FF'/%3e%3c/svg%3e") 0 0 no-repeat}
.title_inform em{font-weight:bold}
.menu_wrap{float:left;width:185px;height:420px;background-color:#fff}
.list_menu{padding:10px 0 15px}
.list_menu .lab_count{position:absolute;top:11px;right:15px}
.list_menu a{display:block;position:relative;padding:11px 15px 9px;font-size:16px;line-height:18px;;color:#9a9a9a}
.list_menu a:hover{background-color:#f9f9f9}
.list_menu a.on{font-weight:500;;color:#4e79ff}

.content_wrap{float:right;width:886px}
.content_wrap .box_g{background-color:#fff}
.result_blank{position:relative;padding-top:97px;font-weight:bold;font-size:14px;line-height:17px;text-align:center;color:#2e2e2e}
.result_blank:before{content:'';display:block;width:52px;height:52px;margin:0 auto 16px;background:url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52'%3e%3cpath d='M33.43 40.523l-14.81.322a7.486 7.486 0 002.194 4.073A7.471 7.471 0 0026 47c2.071 0 3.946-.84 5.303-2.197a7.48 7.48 0 002.128-4.28zM26 4a4.166 4.166 0 00-2.924 1.185 3.963 3.963 0 00-1.163 3.382l.126.87-.846.237c-3.604 1.006-6.335 3.201-8.198 6.576-1.972 3.57-2.985 8.42-3.085 14.536L6.5 35.633v4.193c0 .184.078.35.2.47.13.127.31.204.508.204h37.584a.72.72 0 00.508-.205c.122-.12.2-.285.2-.469l-.128-4.579-3.293-4.476c.101-6.29-.802-11.242-2.77-14.838-1.853-3.393-4.667-5.533-8.439-6.423l-.856-.202.112-1.287a3.96 3.96 0 00-1.201-2.837A4.173 4.173 0 0026 4z' fill='none' stroke='%23DCDCE6' stroke-width='2'/%3e%3c/svg%3e") 0 0 no-repeat}
.result_search{display:block;margin-top:26px;font-weight:bold;font-size:16px;line-height:19px}
.txt_copyright{width:886px;margin:0 auto;padding:15px 0 10px 200px;font-size:13px;line-height:16px;color:#9a9a9a;letter-spacing:-1px;text-align:center;}

.wrap_tool{position: fixed;bottom:41px;left:50%;margin-left:553px}
.btn_oval{display:block;margin-top:10px;border-radius:40px;box-shadow:0 3px 8px rgba(0, 0, 0, 0.15)}
.btn_oval span{display:inline-block;width:40px;height:40px;font-size:1px;line-height:1px;color:transparent;vertical-align:top}
.btn_oval .ico_sellertalk{background-image:url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40'%3e%3cg fill='none' fill-rule='evenodd'%3e%3ccircle cx='20' cy='20' r='20' fill='%234E79FF'/%3e%3cpath fill='%23FFF' d='M23.63 19.658a1.377 1.377 0 00-1.933 0l-2.648 2.626-.069.068a3.39 3.39 0 01-4.761 0 3.321 3.321 0 010-4.721l.93-.924a1.347 1.347 0 000-1.917 1.36 1.36 0 00-.967-.398 1.36 1.36 0 00-.966.398l-.932.923a6.022 6.022 0 000 8.557 6.109 6.109 0 004.315 1.77c1.563 0 3.126-.59 4.315-1.77l2.717-2.693c.533-.53.533-1.39 0-1.919'/%3e%3cpath fill='%23FFF' d='M16.421 20.381a1.378 1.378 0 001.935 0l2.647-2.625.07-.069a3.39 3.39 0 014.76 0 3.323 3.323 0 010 4.722l-.93.923a1.348 1.348 0 000 1.918c.258.256.601.397.967.397.365 0 .708-.14.967-.397l.93-.923a6.021 6.021 0 000-8.558A6.106 6.106 0 0023.454 14c-1.563 0-3.125.59-4.315 1.77l-2.717 2.693a1.35 1.35 0 000 1.918'/%3e%3c/g%3e%3c/svg%3e")}
.btn_oval .ico_contact{background-image:url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40'%3e%3cg fill='none' fill-rule='evenodd'%3e%3crect width='40' height='40' fill='%232E2E2E' fill-rule='nonzero' rx='20'/%3e%3cpath fill='%23FFF' d='M26.878 12H13.123c-.62 0-1.123.487-1.123 1.087V26.39c0 .6.503 1.087 1.123 1.087h8.807c5.884 0 6.07 2.922 6.07 2.922V13.083c-.002-.598-.504-1.082-1.122-1.083'/%3e%3cpath fill='%23D4D4D4' d='M14.8 15.2h10.4c.22 0 .4.18.4.4v.2c0 .22-.18.4-.4.4H14.8c-.22 0-.4-.18-.4-.4v-.2c0-.22.18-.4.4-.4zm0 4h10.4c.22 0 .4.18.4.4v.2c0 .22-.18.4-.4.4H14.8c-.22 0-.4-.18-.4-.4v-.2c0-.22.18-.4.4-.4zm0 4h10.4c.22 0 .4.18.4.4v.2c0 .22-.18.4-.4.4H14.8c-.22 0-.4-.18-.4-.4v-.2c0-.22.18-.4.4-.4z'/%3e%3c/g%3e%3c/svg%3e")}
.btn_oval .ico_top{background-image:url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40'%3e%3cg fill='none'%3e%3crect width='39' height='39' x='.5' y='.5' fill='%23FFF' stroke='%23D4D4D4' rx='19.5'/%3e%3cpath fill='%232E2E2E' d='M20.53 12.239l5.25 5.716a.869.869 0 010 1.155c-.146.16-.338.239-.53.239s-.384-.08-.53-.24l-3.917-4.265v11.725c0 .389-.366.703-.816.703-.452 0-.817-.314-.817-.703V14.874l-3.89 4.236a.708.708 0 01-1.06 0 .869.869 0 010-1.155l5.25-5.716a.707.707 0 011.06 0z'/%3e%3c/g%3e%3c/svg%3e")}
.btn_read{display:inline-block;height:28px;padding:0 7px;border-radius:1px;border:1px solid #d4d4d4;font-size:12px;line-height:27px;background-color:#fff;letter-spacing:-1px;color:#9a9a9a}
.btn_read:hover{background-color:#f0f0f0;color:#9a9a9a}
.btn_read.disabled{color:#d4d4d4;pointer-events:none}
.btn_reload{width:28px;height:28px;border-radius:1px;border:1px solid #d4d4d4;background-color:#fff}
.icon_reload{display:inline-block;width:24px;height:24px;font-size:1px;line-height:1px;color:transparent;background:url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3e%3cpath fill='%239A9A9A' fill-rule='evenodd' d='M13 3a9 9 0 00-9 9H1l3.89 3.89.07.14L9 12H6c0-3.87 3.13-7 7-7s7 3.13 7 7-3.13 7-7 7c-1.93 0-3.68-.79-4.94-2.06l-1.42 1.42A8.954 8.954 0 0013 21a9 9 0 000-18'/%3e%3c/svg%3e") 0 0 no-repeat;vertical-align:top}

.box_search{padding:20px}
.box_search .wrap_button{width:250px;margin:20px auto 0}
.area_search{overflow:hidden;position:relative;min-height:36px;margin-top:15px;padding-left:100px}
.area_search:first-of-type{margin-top:0}
.area_search .tit_area{position:absolute;top:0;left:0;font-weight:bold;font-size:16px;line-height:36px;letter-spacing:-1px;color:#2e2e2e}
.area_search .tit_area.ls_06{letter-spacing:6px}
.area_search .tit_area.ls_26{letter-spacing:26px}
.date_qlist{position:absolute;top:0;left:388px}
.date_qlist .date-btn{float:left;width:72px;height:38px;margin-left:5px;border:1px solid #c3c3c3;font-size:14px;letter-spacing:-1px}
.date_qlist .date-btn:first-of-type{margin-left:0}
.date_qlist .click-style{border-color:#4e79ff;color:#4e79ff}
.area_search .cell_form{float:left}
.cell_form{display:inline-block;position:relative;width:132px;height:36px;margin-left:10px;border:1px solid #c3c3c3;vertical-align:top}
.cell_form:first-of-type{margin-left:0}
.cell_form input{display:block;width:114px;border:0 none;padding:10px 9px;font-size:14px;line-height:16px;background:transparent;outline:none}
.cell_select:after{content:'▼';position:absolute;top:9px;right:9px;width:18px;height:18px;font-size:10px;line-height:18px;border:1px solid #c3c3c3;text-align:center;color:#747474}
.cell_select select{display:inline-block;position:relative;width:100%;height:100%;padding:0 30px 0 9px;border:0 none;font-size:14px;line-height:36px;background-color:transparent;outline:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;vertical-align:top;color:#2e2e2e;z-index:1}
.cell_select select::-ms-expand{display:none}
.cell_date{position:relative;padding-right:36px}
.cell_date:after{content:'';position:absolute;top:50%;right:9px;width:20px;height:20px;margin-top:-10px;background:url("../img/icon_calendar.svg") 0 0 no-repeat;background-size:20px 20px;pointer-events:none}
.cell_date input{text-align:center}
.cell_text{width:600px}
.cell_text input{width:582px}

.box_timeline{position:relative;min-height:517px;margin-top:6px;padding:20px 16px 28px}
.box_timeline .wrap_tool{position:absolute;bottom:auto;left:auto;top:-33px;right:0;margin-left:0}
.list_timeline{position:relative}
.list_timeline:before{content:'';position:absolute;bottom:0;left:11px;width:2px;height:99%;background-color:#dcdce6}
.list_timeline li{margin-top:21px;padding-left:37px}
.list_timeline li:first-child{margin-top:0}
.list_timeline .tit_date{display:block;position:relative;height:24px;font-weight:bold;font-size:16px;line-height:24px}
.list_timeline .tit_date:before{content:'';position:absolute;top:0;left:-37px;width:24px;height:24px;background:url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3e%3cg fill='none' fill-rule='evenodd'%3e%3ccircle cx='12' cy='12' r='12' fill='%23DCDCE6'/%3e%3cg transform='translate(5 5)'%3e%3cpath fill='%23FFF' d='M7 3a.5.5 0 01.5.5v4a.5.5 0 01-1 0v-4A.5.5 0 017 3z'/%3e%3cpath fill='%23FFF' d='M7.275 7.254a.5.5 0 010 .707L5.86 9.375a.5.5 0 01-.707-.707l1.414-1.414a.499.499 0 01.707 0z'/%3e%3ccircle cx='7' cy='7' r='6.5' stroke='%23FFF'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e") 0 0 no-repeat}
.list_timeline .tit_date + .item_inform{margin-top:8px}
.item_inform{display:block;position:relative;margin-top:15px;padding:12px 22px;font-size:12px;line-height:15px;border-radius:2px;border:1px solid #d4d4d4;color:#2e2e2e}
.item_inform:before{content:'';position:absolute;top:16px;left:-29px;width:4px;height:4px;border-radius:6px;border:1px solid #fff;background-color:#b4b4b4}
.item_inform .inform_state{height:12px}
.item_inform .inform_state:before{content:'';position:absolute;top:16px;left:10px;width:7px;height:7px;border-radius:7px;background-color:#4e79ff}
.item_inform .inform_state .txt_date{display:inline-block;position:relative;padding-right:6px;font-size:12px;line-height:14px;vertical-align:top}
.item_inform .inform_state .txt_date:after{content:'';position:absolute;top:2px;right:0;width:1px;height:11px;background-color:#cfcfcf}
.item_inform .inform_state .chk_confirm{display:inline-block;margin-top:-4px;margin-left:5px;padding:0 7px;border-radius:22px;border:1px solid #d4d4d4;font-size:12px;line-height:20px;vertical-align:top}
.item_inform .inform_state.done:before{background-color:#d4d4d4}
.item_inform .inform_state.done .chk_confirm{padding-left:0;border:0 none;pointer-events:none}
.item_inform .inform_cate{display:block;margin-top:12px;font-weight:bold;font-size:12px;line-height:15px;color:#4e79ff}
.item_inform .inform_cate span + span:before{content:'';display:inline-block;width:12px;height:12px;margin:1px 3px 0 2px;background:url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12'%3e%3cpath fill='%234E79FF' d='M9.065 6.384l-4.604 3.88a.499.499 0 01-.708-.7l.064-.064L7.968 6 3.817 2.503a.499.499 0 01-.112-.63l.052-.075a.5.5 0 01.63-.112l.074.052L9.065 5.62a.5.5 0 01.06.706l-.06.059z'/%3e%3c/svg%3e") 0 0 no-repeat;vertical-align:top}
.item_inform .state_text{margin-top:5px;font-size:14px}